@*@using Glass.Mapper.Sc.Web.Mvc
@model HKRS.Common.Models.AutoGen.sitecore.templates.User_Defined.HKRS.Feature.BasicContent.IBasicContent
<h1 class="long-title">@Html.Glass().Editable(m => m.Body)</h1>*@


